@import "../../scss/abstracts/variables";

.card {
	display: grid;
}
.card_design {
	position: relative;
	height: 11rem;
	width: 100%;
	border-radius: 0.8rem;
	overflow: hidden;
	background: linear-gradient(180deg, #111111 0%, #5c5a5a 100%);
	font-size: 1.5rem;
	justify-content: flex-start;
	display: flex;
	align-items: end;
	color: $color-white;
	cursor: pointer;
}
.card_content {
	height: 80%;
	width: 60%;
	background: linear-gradient(270deg, #4e46b4 0%, rgba(78, 70, 180, 0) 100%);
	display: flex;
	justify-content: right;
	align-items: center;
	color: $color-white;
	border-top-right-radius: 1rem;

	&::before {
		position: absolute;
		height: 60%;
		width: 50%;
		bottom: 0;
		left: 20%;
		content: "";
		background: linear-gradient(
			270deg,
			#4e46b4 0%,
			rgba(78, 70, 180, 0) 100%
		);
		color: $color-white;
		border-top-right-radius: 1rem;
		font-size: 2rem;
	}

	&::after {
		position: absolute;
		height: 40%;
		width: 50%;
		bottom: 0;
		left: 30%;
		content: "";
		background: linear-gradient(
			270deg,
			#4e46b4 0%,
			rgba(78, 70, 180, 0) 100%
		);
		color: $color-white;
		border-top-right-radius: 1rem;
		justify-content: center;
	}
}
.card_text {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	font-size: 2.2rem;
	text-align: center;
}
.card_name {
	font-size: 1.4rem;
	color: $color-text-dark-1;
}
