.welcome,
.sessions {
	height: 100%;
	display: grid;
	gap: 2rem;
	grid-template-columns: 4fr auto;
	background-color: $color-gray-4;

	&__home {
		max-height: 93vh;
		overflow-y: auto;
		padding: 4rem 2rem;
		display: grid;
		grid-auto-rows: min-content;
		gap: 3rem;
	}

	&__heading {
		font-family: "AvertaStd-SemiBold";
	}
	&__title {
		font-size: 3.2rem;
	}

	&__subtitle {
		font-size: 1.4rem;
	}
}

.templates {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.template {
	display: grid;
	gap: 2rem;
	cursor: pointer;

	&__card {
		position: relative;
		height: 11rem;
		width: 100%;
		border-radius: 0.8rem;
		overflow: hidden;

		&-text {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100%;
			transform: translate(-50%, -50%);
			font-size: 2.2rem;
			text-align: center;
		}

		&--blank {
			width: 100%;
			position: relative;
			padding: 4em;
			background-color: $color-white;

			&::after {
				position: absolute;

				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				content: url("/images/plus-gray.svg");
			}

			&:hover {
			}
		}
		&--browse {
			position: relative;
			background: linear-gradient(180deg, #111111 0%, #5c5a5a 100%);
			font-size: 1.5rem;
			justify-content: flex-start;
			display: flex;
			align-items: end;
			justify-content: flex-start;
			color: $color-white;
		}

		&--inner {
			height: 80%;
			width: 60%;
			background: linear-gradient(
				270deg,
				#4e46b4 0%,
				rgba(78, 70, 180, 0) 100%
			);
			display: flex;
			justify-content: right;
			align-items: center;
			color: $color-white;
			border-top-right-radius: 1rem;

			&::before {
				position: absolute;
				height: 60%;
				width: 50%;
				bottom: 0;
				left: 20%;
				content: "";
				background: linear-gradient(
					270deg,
					#4e46b4 0%,
					rgba(78, 70, 180, 0) 100%
				);
				color: $color-white;
				border-top-right-radius: 1rem;
				font-size: 2rem;
			}

			&::after {
				position: absolute;
				height: 40%;
				width: 50%;
				bottom: 0;
				left: 30%;
				content: "";
				background: linear-gradient(
					270deg,
					#4e46b4 0%,
					rgba(78, 70, 180, 0) 100%
				);
				color: $color-white;
				border-top-right-radius: 1rem;
				justify-content: center;
			}
		}
	}

	&__name {
		font-size: 1.4rem;
		color: $color-text-dark-1;
	}
}
