$color-brand: #4e46b4;
$color-blue-1: #3448f0;
$color-text-dark-1: #1f1f1f;
$color-text-dark-2: #0b0b0b;
$color-white: #fff;
$color-gray-1: #ebebeb;
$color-gray-2: #999ca0;
$color-gray-3: #f5f5f5;
$color-gray-4: #f9f9f9;

$color-red-1: #f06767;
$color-red-2: #d33030;

$color-green-1: #64dc77;
$color-green-2: #40a69f;
$color-yellow-1: #ffc652;
